<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Nhoca</h1>
  <p class="lead">Nhoca página do projeto</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Iniciar</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4">
    <h2>Ajuda</h2>
    <p>...</p>
    <p><a class="btn btn-primary" href="#" role="button">Ver detalhes &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Loja</h2>
    <p>... </p>
    <p><a class="btn btn-primary" href="#" role="button">Ver detalhes &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Mais</h2>
    <p>...</p>
    <p><a class="btn btn-primary" href="#" role="button">Ver detalhes &raquo;</a></p>
  </div>
</div>
